name: sync-to-gitee

on:
  schedule:
    - cron: '*/150 * * * *' # every 120 minutes
  workflow_dispatch: # on button click

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
       - name: Mirror the Github organization repos to Gitee.
         uses: Yikun/hub-mirror-action@master
         with:
              src: github/ie123610
              dst: gitee/ie128480_0
              dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
              dst_token: ${{ secrets.GITEE_TOKEN }}
              account_type: user
              white_list: "BTN-IP-LIST"
